body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
#header {
  flex: 1.5;
  background-color: #03fcba;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 15%;
}
h1 {
  text-align: center;
  margin: 0;
}
h2 {
  text-align: center;
  margin: 0;
}
#setup {
  flex: 2;
}
#gameOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0.75;
}
footer {
  text-align: center;
  background-color: #03fcba;
  flex: 1;
}
#tableForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1%;
}

#startGame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
#startGame button {
  width: 100%;
  margin: 0.75%;
  font-weight: 900;
  color: black;
}
.options {
  border-radius: 30px;
  background: #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#noti {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;
}
#submitGuesses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
#submitGuesses button {
  width: 100%;
}
label {
  font-size: 20px;
  margin-top: 3%;
}
.inputBox {
  margin-bottom: 10px;
  width: 80%;
}
#gameBody {
  display: flex;
  flex: 10;
  width: 100%;
  flex-direction: row;
}
#table {
  width: 100%;
  flex: 6;
}
#leaderBoard {
  flex: 3;
}
#tops {
  flex: 1;
}
#highScoresTable {
  flex: 8;
  align-items: flex-start;
}
#reset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
table {
  width: 100%;
}
#table {
  display: flex;
  flex-direction: column;
}
#tableHere {
  flex: 105;
  display: flex;
  justify-content: stretch;
}
#leaderBoard {
  display: flex;
  flex-direction: column;
}
h3 {
  text-align: center;
  flex: 1;
  margin: 0;
}
input {
  width: 60%;
  display: flex;
  justify-content: center;
  align-content: center;
  column-gap: 10%;
}
select {
  width: 60%;
}
td {
  padding: 0px;
  margin: 0px;
  border: #cdcdcd 4px solid;
  text-align: center;
}
td:hover {
  border: darkgray 4px solid;
}
.highlighted {
  border: green 4px solid;
}
#playerNameError {
  flex: 1;
  color: #cc5500;
}
td {
  user-select: none;
}
#highScoresTable tbody tr td {
  border: none;
}
#highScoresTable {
  flex-direction: row;
}
